
.modal-container {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  align-items: center;
  justify-content:center;
  display: flex;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}

.modal {
  box-shadow: 0px 0px 10px 0px black;
  transition: opacity 0.2s, top 0.2s;
  pointer-events: none;
  position: relative;
  top: -200px;
  border-radius: 4px;
  background: whitesmoke;
  padding: 75px 150px;
  color: dimgray;
  opacity: 0;
  line-height: 200%;
}

.modal.show {
  pointer-events: auto;
  opacity: 1;
  top: 0px;
}

.modal *::selection {
  background: none;
}

.modal h1 {
  margin: 0px;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 20px;
}

.modal .info {
  width: 700px;
  font-size: 20px;
}

.victory {
  color: gold;
}

.defeat {
  color: darkred;
}

.modal .btn,
.modal a {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background: whitesmoke;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: 0px 0px 2px 0px #141b33;
  transition: box-shadow 0.2s;
  cursor: pointer;
  text-align: center;
  font-size: 25px;
  color: black;
}

.modal .btn:hover {
  box-shadow: 0px 0px 4px 0px #141b33;
}


.modal .info .victory {
  color: #716316;
}

.modal .tag {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  height: 30px;
}

.tag.neutral {
  border: 1px solid dimgray;
  background: white;
  color: black;
}

